
#form{
    width: 400px;
    height: 250px;
    background-color:rgb(240, 215, 215);
    border: 2px solid whitesmoke;
    display: flex;
    margin-inline: 40%;
    flex-direction: column;
    margin-top: 100px;
    padding: 10px;
}
.error{color:red;
}
.succes{
    color: green;
}